{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Home Page</h2>
    <p>Welcome back, {{ username }}!</p>

    <div class="container">
    <div class="row">
    <div class="topnav" align = "right">

                <form action="{{ url_for('home') }}" method="POST">
                    <input type="text"  name="titleSearched" placeholder="Search.." >
                </form>

    </div>
        <div class="col-3">
            {% for genrezz in genres %}
                <form action="{{ url_for('home') }}" method="POST">
                    <input type="submit" class = "genreButton" name="genrezz" value='{{ genrezz }}'>
                </form>
            {% endfor %}
        </div>
    <div class = "col-1"></div>
        <div class="col-4">
            {% for i in moviez %}
                <form action = "{{ url_for('home') }}" method="POST">

                        <input class = "terd" type = "submit" value = '{{ i[0] }}'>

                </form>
            {% endfor %}
        </div>
        <div class="col-3">
            {% for i in castz %}
                <p> {{ i[0] }}</p>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}



